<nav class="navbar navbar-expand-sm navbar-light fixed-top nova-nav py-md-4">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<span class="d-inline-block text-nowrap">
			<a href="https://novaapi.net/" class="navbar-brand nova-title" id="nova-chevron-return"><i class="fa fa-chevron-left"></i></a>
			<a class="navbar-brand nova-title" href="/">NOVA XML Namespaces</a>
		</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar-nav ml-sm-auto">
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/NOVA-Team/xmlns.novaapi.net"><i class="fa fa-github"></i> GitHub</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
